<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Menos Mailing</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Menos</span> Mailing
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">¿Qué es esto?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#peticion">Petición</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contacto">Contacto</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Menos Mailing</h1>
                        <p class="intro-text">Tienes derecho a elegir.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>¿Que es esto?</h2>
                <h3>El problema</h3>
                <p>
         			Según la última actualización de la Ley Orgánica 5/1985, de 19 de junio, del Régimen Electoral General, el  Estado  aporta  a  cada  partido <a href="https://www.boe.es/buscar/act.php?id=BOE­A­1985­11672&tn=1&p=20150331&vd=#acientosetentaycinco" target="_blank"> <strong> 18  céntimos  por  cada  elector </strong> </a> en  aquellas  circunscripciones  donde haya  presentado  lista,  siempre  que  dicho  partido  obtenga  escaños  suficientes  para  formar  grupo parlamentario.
         		</p>
         		<p>
         			En las pasadas elecciones generales del 20 de diciembre de 2015 los partidos gastaron un total de <a href="http://www.eldiario.es/politica/campana­electoral­partidos­quieren­reducir_0_513049213.html" target="_blank"> <strong> 30 millones de euros </strong></a> en mailing, el envío de propaganda electoral a los domicilios. Esto supone la mayor partida de los 140 millones que se gastaron en toda la campaña electoral.
         		</p>
         		<p>
         		Con  demasiada  frecuencia,  las  papeletas  y  propaganda  llegan  a  los  domicilios  de  manera  indeseada. Desde Menos Mailing creemos que existe una solución más eficiente que puede ahorrar dinero y papel sin comprometer el derecho de las personas a recibir mailing si lo desean.
         		</p>
         		<h3>La solución</h3>
         		<p>
         		Hemos  creado  esta  plataforma  para  que  cualquier  elector  pueda  darse  de  baja  de  la  lista  de  mailing electoral de los partidos. Al dotar a las personas de la oportunidad de tomar esta acción por su cuenta, queremos  descartar  la  alternativa  de  suprimir  el  mailing  por  completo,  ya  que  se  entiende  que  hay miembros del electorado que consideran preferible seguir recibiendo esta información en su domicilio.
         		</p>
         		<p>
         		La  plataforma  consiste  en  un  formulario  en  el  que  el  elector  deberá  introducir  sus  datos,  que posteriormente  serán  presentados  a  los  partidos  políticos  con  el  fin  de  que  retiren  a  las  personas registradas de su lista de envíos de mailing.
         		</p>
         		<h3>Los beneficios</h3>
         		<p>
         		En primer lugar, se dará un ahorro de dinero debido a la reducción de envíos de mailing. Este ahorro será proporcional a la cantidad de electores que se hayan dado de baja.
         		</p>
         		<p>
         		A su vez, la reducción en el envío de mailing supone un menor consumo de papel y tinta, lo cual supone un beneficio para el medioambiente.
         		</p>
         		<p>
         		Por último, valoramos enormemente el hecho de que esta herramienta favorece el empoderamiento de cada elector, dotándole de la capacidad de decidir si recibir o no propaganda electoral, a sabiendas de que su acción puede tener un impacto económico y ambiental.
         		</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="peticion" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Petición de no más mailing</h2>
                    <p>Pide que los partidos dejen de enviar mailing.</p>
                        <form>
                          <div class="form-group">
                            <label for="exampleInputSurname">Apellidos</label>
                            <input type="text" class="form-control" id="exampleInputSurname" placeholder="Apellidos">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName">Nombre</label>
                            <input type="text" class="form-control" id="exampleInputName" placeholder="Nombre">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
                          </div>
                          <div class="form-group">
                            <label for="exampleDNI">DNI</label>
                            <input type="text" class="form-control" id="exampleDNI" placeholder="DNI">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputDirección">Dirección</label>
                            <input type="text" class="form-control" id="exampleInputAddress" placeholder="Dirección">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputCP">Código postal</label>
                            <input type="text" class="form-control" id="exampleInputCP" placeholder="Código Postal">
                          </div>
                          <p> Eliga de que partido no desea recibir más propaganda: </p>
                          <div class="checkbox">
                           <label>
                              <input type="checkbox"> PP
                            </label>
                            <label>
                              <input type="checkbox"> PSOE
                            </label>
                            <label>
                              <input type="checkbox"> Ciudadanos
                            </label>
                            <label>
                              <input type="checkbox"> Podemos
                            </label>
                            <label>
                              <input type="checkbox"> IU
                            </label>
                          </div>
                          <button type="submit" class="btn btn-default">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contacto" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contacto</h2>
                <p>Puedes mandarnos a un correo a nuestra direción</p>
                <p><a href="mailto:menosmailing@gmail.com">menosmailing@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/menosmailing" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/menosmailing" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Menos mailing</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

</body>

</html>
